<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorization</title>
    <link rel="stylesheet" href="/static/auth.css">
</head>

<body>


<body class="d-flex h-100 text-center text-white bg-dark">
</body>

<div class="container">
<form class="form" method="POST">
    <h1 class=" h4 mb-3 fw-normal">Enter your login and password</h1>

    <div class="form-floating">
      <input name="login" placeholder="Username" class="flex-box" id="floatingInput">
    </div>
    <div class="form-floating">
      <input name="password" placeholder="Password" class="flex-box" id="floatingPassword" >
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">LOG IN</button>
</form>
    </div>
</body>
</html>