<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
   <link rel="stylesheet" href="/static/reg.css">
</head>

<body>

<body class="d-flex h-100 text-center text-white bg-dark">
</body>

    <div class="container">
      <form class="form" method="POST">
         <h1 class="h4 mb-3 fw-normal">Please sign in</h1>

         <div class="form-floating">
            <input name="login" placeholder="Username" class="textbox" id="floatingInput">
         </div>
         <div class="form-floating">
            <input name="password" placeholder="Password" class="textbox" id="floatingPassword">
         </div>

         <div class="checkbox mb-3">
            <label>
               <input type="checkbox" class="remember" value="remember-me"> Remember me
            </label>
         </div>
         <button class="w-10 btn btn-lg btn-primary" type="submit">Sign in</button>
         <a class="w-10 btn btn-lg btn-primary" href="/authorization">Authorization</a>

      </form>
   </div>

</body>

</html>